* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    user-select: none;
}

img {
    width: 50px;
    height: auto;
}

.textPrediction {
    border: solid black 1px;
    margin: 10px;
    padding: 10px;
}

.sidePrediction {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: lightgrey;
    overflow-x: hidden;
    transition: 0.5s;
}

.gridNKeys {
    background-color: lightslategray;
}

.gridNArrow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#arrowNText {
    position: absolute;
    top: 100px;
    right: 50px;
}

#keys {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.key {
    border: solid black 1px;
    margin: 10px;
    padding: 10px;
    background-color: lightgray;
    cursor: pointer;
    width: 100px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

.selector {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #f0f0f0;
}

.robot {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.active {
    background-color: lemonchiffon;
}

.wall {
    background-color: grey;
}

.cell {
    border: solid black 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start {
    background-color: green;
}

.end {
    background-color: red;
}

.path {
    background-color: aqua;
}

.prediction {
    background-color: yellow;
}

.visited {
    background-color: orange;
}

#undo {
    border: solid black 1px;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    background-color: yellow;
}

#clear {
    border: solid black 1px;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    background-color: red;
}

#grid {
    display: grid;
    width: 700px;
    height: 700px;
    grid-template-columns: repeat(var(--n, 32), 1fr);
    background-color: #d2d3d4;
    border: solid black 10px;
}

#arrow {
    width: 500px;
}

#arrowLeft, #arrowUp, .arrowLeft, .arrowUp {
    rotate: -90deg;
}

#arrowRight, .arrowRight {
    rotate: 90deg;
}

/* Spinner*/

#spinner {
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 99;
}

@keyframes ldio-x2uulkbinbj {
    0% { background: #f8b26a }
    12.5% { background: #f8b26a }
    12.625% { background: #ffffff }
    100% { background: #ffffff }
  }
  .ldio-x2uulkbinbj div {
    position: absolute;
    width: 40px;
    height: 40px;
    background: #ffffff;
    animation: ldio-x2uulkbinbj 1s linear infinite;
  }
  .loadingio-spinner-blocks-nq4q5u6dq7r {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: #d2d3d4;
  }
  .ldio-x2uulkbinbj {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0;
  }
  .ldio-x2uulkbinbj div { box-sizing: content-box; }
  /* [ldio] generated by https://loading.io */