* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.gridNKeys {
    background-color: lightslategray;
}

.keys {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.key {
    border: solid black 1px;
    margin: 10px;
    padding: 10px;
    background-color: lightgray;
    cursor: pointer;
    width: 100px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

.selector {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #f0f0f0;
}

.robot {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wall {
    background-color: grey;
}

.cell {
    border: solid black 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start {
    background-color: green;
}

.end {
    background-color: red;
}

.path {
    background-color: aqua;
}

.visted {
    background-color: orange;
}

#undo {
    border: solid black 1px;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    background-color: yellow;
}

#clear {
    border: solid black 1px;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    background-color: red;
}

#grid {
    display: grid;
    width: 700px;
    height: 700px;
    grid-template-columns: repeat(var(--n, 32), 1fr);
    background-color: white;
    border: solid black 10px;
}
